

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Playfair+Display:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1f242d;
  font-family: 'Poppins', sans-serif;
}

h1, h2 {
  font-family: 'Playfair Display', serif;
}

a {
  color: white;
  text-decoration: none;
}

.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar.logo{
    font-size: 30px;
    font-weight: 700;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    list-style: none;
    margin-left: 35px;
}

.navbar ul li a{ 
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
}

.navbar ul li:hover a,
.navbar ul li.active a{
  color: rgb(129, 214, 129);
}

.home{
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 60px 9%;
  color: white;
}

.home-info h1{
  font-size: 55px;
}

.home-info h2{
  font-size: 32px;
  margin-top: -10px;
}

.home-info p{
  font-size: 16px;
  margin: 10px 0 25px;
}

.home-info btn-sci{
  display: flex;
  align-text: center;
}

.btn{
  display: inline-block;
  padding: 10px 30px;
  background: green;
  border: 2px solid green;
  border-radius: 40px;
  box-shadow: 0 0 10px green;
  font-size: 16px;
  color:black;
  font-weight: 600;
  transition: .5;
}

.btn:hover{
  background: transparent;
  color: green;
  box-shadow: none;
}

.home-info .btn-sci .sci {
  margi-left: 20px;
  transition: .5;
}

.home-info .btn-sci .sci a{
  display: inline-flex;
  padding: 8px;
  border: 2px solid green;
  border-radius: 50%;
  font-size: 20px;
  color: green;
  margin: 0 8px;
}

.home-info .btn-sci .sci a:hover{
  background: green;
  color: black;
  box-shadow: 0 0 10px green;
}

.sci{
  padding-top: 20px;
}

.profile-container {
    max-width: 800px;
    margin: 30px auto;
    background: green;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.profile-container h2 {
    margin-top: 20px;
    color: #00bcd4;
}

.profile-container ul {
    margin-left: 20px;
    margin-bottom: 15px;
}
